html {
    overflow-y: scroll;
  }


.panel {
    border: 0;
}

textarea {
    resize: none;
}

table th {
    background-color: steelblue;
}

.margin-bottom {
    margin-bottom:15px;
}

.late {
    color: red;
}

.early{
    color: green;
}

.ontime{
    color: blue;
}

a.collapsed span {
    transform: rotate(-180deg);
}